spring:
  cloud:
    gateway:
      routes:
      - id: regs-auth
        uri: lb://regs-auth-ms
        predicates:
        - Path=/api/v1/auth/register, /api/v1/auth/authenticate, /api/v1/user/get-user, /api/v1/user/delete-user, /api/v1/auth/logout
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
            - GET
            - POST
            allowedHeaders: "*"
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin